.searchContainer{
	position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 48rem;
    height: 20rem;
}
h1{
	color: gray;
}
.searchForm{
	width: 90%;
}
button{
	height: 2.7rem;
    width: 4rem;
}